In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Reading the csv
match_stats_csv = "tennis_stats.csv"
match_stats_df = pd.read_csv(match_stats_csv)
match_stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,1991-7308-k181-l206,/en/scores/1991/7308/MS002/match-stats,1:20:00,80.0,3.0,0.0,0.0,65.0,29.0,...,7.0,19.0,2.0,2.0,11.0,11.0,24.0,65.0,61.0,134.0
1,0,1991-7308-k181-s351,/en/scores/1991/7308/MS001/match-stats,1:29:00,89.0,1.0,2.0,44.0,65.0,31.0,...,9.0,21.0,3.0,5.0,12.0,12.0,22.0,65.0,68.0,148.0
2,0,1991-7308-k181-s424,/en/scores/1991/7308/MS005/match-stats,0:55:00,55.0,0.0,1.0,17.0,36.0,11.0,...,6.0,19.0,2.0,3.0,8.0,7.0,12.0,36.0,32.0,90.0
3,0,1991-7308-a031-s331,/en/scores/1991/7308/MS013/match-stats,1:09:00,69.0,2.0,3.0,44.0,58.0,28.0,...,7.0,14.0,2.0,8.0,9.0,9.0,23.0,58.0,52.0,114.0
4,0,1991-7308-k030-w136,/en/scores/1991/7308/MS009/match-stats,1:29:00,89.0,6.0,3.0,37.0,71.0,25.0,...,15.0,34.0,2.0,3.0,10.0,10.0,27.0,71.0,59.0,135.0

In [3]:
#Collecting the columns that will be most useful so that we have a smaller set to work with adn creating a new dataframe
new_match_stats_df = match_stats_df[['match_id', 'winner_first_serve_points_won', 'winner_first_serve_points_total', 'winner_second_serve_points_won', 'winner_second_serve_points_total', 'loser_first_serve_points_won', 'loser_first_serve_points_total','loser_second_serve_points_won', 'loser_second_serve_points_total', 'winner_break_points_converted', 'winner_break_points_return_total', 'loser_break_points_converted', 'loser_break_points_return_total']].copy()

new_match_stats_df.head()

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0

In [4]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
winner_first_serve_percentage = []

for x in range(len(new_match_stats_df.winner_first_serve_points_won)):
    winner_first_serve_percentage.append(new_match_stats_df.winner_first_serve_points_won[x]/new_match_stats_df.winner_first_serve_points_total[x])
new_match_stats_df['winner_first_serve_percentage'] = winner_first_serve_percentage

new_match_stats_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676

In [5]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
winner_second_serve_percentage = []

for x in range(len(new_match_stats_df.winner_first_serve_points_won)):
    winner_second_serve_percentage.append(new_match_stats_df.winner_second_serve_points_won[x]/new_match_stats_df.winner_second_serve_points_total[x])
new_match_stats_df['winner_second_serve_percentage'] = winner_second_serve_percentage

new_match_stats_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824

In [6]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
loser_first_serve_percentage = []

for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_first_serve_percentage.append(new_match_stats_df.loser_first_serve_points_won[x]/new_match_stats_df.loser_first_serve_points_total[x])
new_match_stats_df['loser_first_serve_percentage'] = loser_first_serve_percentage

new_match_stats_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage,loser_first_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579,0.666667
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429,0.659574
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211,0.482759
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000,0.708333
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824,0.555556

In [7]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
loser_second_serve_percentage = []

for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_second_serve_percentage.append(new_match_stats_df.loser_second_serve_points_won[x]/new_match_stats_df.loser_second_serve_points_total[x])
new_match_stats_df['loser_second_serve_percentage'] = loser_second_serve_percentage

new_match_stats_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage,loser_first_serve_percentage,loser_second_serve_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579,0.666667,0.393939
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429,0.659574,0.416667
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211,0.482759,0.240000
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000,0.708333,0.375000
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824,0.555556,0.428571

In [8]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
winner_break_point_percentage = []

for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    winner_break_point_percentage.append(new_match_stats_df.winner_break_points_converted[x]/new_match_stats_df.winner_break_points_return_total[x])
new_match_stats_df['winner_break_point_percentage'] = winner_break_point_percentage

new_match_stats_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

,match_id,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,loser_first_serve_points_won,loser_first_serve_points_total,loser_second_serve_points_won,loser_second_serve_points_total,winner_break_points_converted,winner_break_points_return_total,loser_break_points_converted,loser_break_points_return_total,winner_first_serve_percentage,winner_second_serve_percentage,loser_first_serve_percentage,loser_second_serve_percentage,winner_break_point_percentage
0,1991-7308-k181-l206,29.0,46.0,12.0,19.0,24.0,36.0,13.0,33.0,4.0,7.0,2.0,2.0,0.630435,0.631579,0.666667,0.393939,0.571429
1,1991-7308-k181-s351,31.0,44.0,12.0,21.0,31.0,47.0,15.0,36.0,4.0,7.0,3.0,5.0,0.704545,0.571429,0.659574,0.416667,0.571429
2,1991-7308-k181-s424,11.0,17.0,13.0,19.0,14.0,29.0,6.0,25.0,7.0,10.0,2.0,3.0,0.647059,0.684211,0.482759,0.240000,0.700000
3,1991-7308-a031-s331,28.0,44.0,7.0,14.0,17.0,24.0,12.0,32.0,5.0,9.0,2.0,8.0,0.636364,0.500000,0.708333,0.375000,0.555556
4,1991-7308-k030-w136,25.0,37.0,19.0,34.0,20.0,36.0,12.0,28.0,5.0,10.0,2.0,3.0,0.675676,0.558824,0.555556,0.428571,0.500000

In [9]:
#First we create a list to collect the calculations. The for loop calculates the percentage as a decimal
loser_break_point_percentage = []

for x in range(len(new_match_stats_df.loser_first_serve_points_won)):
    loser_break_point_percentage.append(new_match_stats_df.loser_break_points_converted[x]/new_match_stats_df.loser_break_points_return_total[x])
new_match_stats_df['loser_break_point_percentage'] = loser_break_point_percentage

new_match_stats_df.columns.values

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

array(['match_id', 'winner_first_serve_points_won',
       'winner_first_serve_points_total',
       'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'winner_break_points_converted',
       'winner_break_points_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'winner_first_serve_percentage',
       'winner_second_serve_percentage', 'loser_first_serve_percentage',
       'loser_second_serve_percentage', 'winner_break_point_percentage',
       'loser_break_point_percentage'], dtype=object)

In [10]:
#We need to further narrow down our most recent dataframe and put the useful columns into a new dataframe
statsdf = new_match_stats_df[['match_id', 'winner_first_serve_points_won','winner_first_serve_points_total',
                              'winner_first_serve_percentage','winner_second_serve_points_won','winner_second_serve_points_total','winner_second_serve_percentage',
                              'loser_first_serve_points_won','loser_first_serve_points_total','loser_first_serve_percentage', 'loser_second_serve_points_won','loser_second_serve_points_total', 'loser_second_serve_percentage',
                              'winner_break_points_converted','winner_break_points_return_total',
                              'winner_break_point_percentage','loser_break_points_converted','loser_break_points_return_total',
                              'loser_break_point_percentage']]

#Creating the new dataframe is followed by the process to convert all decimal percentages into actual percentage values
statsdf['winner_first_serve_times100'] = statsdf['winner_first_serve_percentage']*100
statsdf['loser_first_serve_times100'] = statsdf['loser_first_serve_percentage']*100
statsdf['winner_second_serve_times100'] = statsdf['winner_second_serve_percentage']*100
statsdf['loser_second_serve_times100'] = statsdf['loser_second_serve_percentage']*100
statsdf['winner_bpp_times100'] = statsdf['winner_break_point_percentage']*100
statsdf['loser_bpp_times100'] = statsdf['loser_break_point_percentage']*100

#Next up, we dropped the decimal percentages for a clearer view.
statsdf.drop(columns=['winner_first_serve_percentage','loser_first_serve_percentage','winner_break_point_percentage',
                      'loser_break_point_percentage','winner_second_serve_percentage','loser_second_serve_percentage'], axis =1, inplace=True)

#Rounding up all percentage values to the nearest tenth
statsdf = statsdf.round(1)

#This step is to convert every entry into a string so that we can easily put everything together in a single cell for a 
#better and clearer view
statsdf = statsdf.astype(str)

#We decided to put all information into a single summary cell in which the previous step comes into play.
#We are formatting in a way that the actual points won on a certain occasion over the total number of times will be
#displayed in paranthesis then the percentage sign added after the actual, rounded-up percentage value, giving the
#calculations a slick and easy look for better access.
statsdf['winner_first_serve_summary'] = statsdf['winner_first_serve_times100'] + '%' + ' ' + '(' + statsdf['winner_first_serve_points_won'] + '/' + statsdf['winner_first_serve_points_total'] + ')'
statsdf['loser_first_serve_summary'] = statsdf['loser_first_serve_times100'] + '%' + ' ' + '(' + statsdf['loser_first_serve_points_won'] + '/' + statsdf['loser_first_serve_points_total'] + ')'
statsdf['winner_second_serve_summary'] = statsdf['winner_second_serve_times100'] + '%' + ' ' + '(' + statsdf['winner_second_serve_points_won'] + '/' + statsdf['winner_second_serve_points_total'] + ')'
statsdf['loser_second_serve_summary'] = statsdf['loser_second_serve_times100'] + '%' + ' ' + '(' + statsdf['loser_second_serve_points_won'] + '/' + statsdf['loser_second_serve_points_total'] + ')'
statsdf['winner_break_points_summary'] = statsdf['winner_bpp_times100'] + '%' + ' ' + '(' + statsdf['winner_break_points_converted'] + '/' + statsdf['winner_break_points_return_total'] + ')'
statsdf['loser_break_points_summary'] = statsdf['loser_bpp_times100'] + '%' + ' ' + '(' + statsdf['loser_break_points_converted'] + '/' + statsdf['loser_break_points_return_total'] + ')'

#This procedure is here to give a final clean-up on the entire dataframe and drop the unused columns.
statsdf.drop(columns=['winner_first_serve_points_won',
       'winner_first_serve_points_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total','winner_break_points_converted',
       'winner_break_points_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'winner_first_serve_times100',
       'loser_first_serve_times100','winner_second_serve_times100',
       'loser_second_serve_times100', 'winner_bpp_times100',
       'loser_bpp_times100'], axis = 1, inplace = True)

statsdf.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,match_id,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary
0,1991-7308-k181-l206,63.0% (29.0/46.0),66.7% (24.0/36.0),63.2% (12.0/19.0),39.4% (13.0/33.0),57.1% (4.0/7.0),100.0% (2.0/2.0)
1,1991-7308-k181-s351,70.5% (31.0/44.0),66.0% (31.0/47.0),57.1% (12.0/21.0),41.7% (15.0/36.0),57.1% (4.0/7.0),60.0% (3.0/5.0)
2,1991-7308-k181-s424,64.7% (11.0/17.0),48.3% (14.0/29.0),68.4% (13.0/19.0),24.0% (6.0/25.0),70.0% (7.0/10.0),66.7% (2.0/3.0)
3,1991-7308-a031-s331,63.6% (28.0/44.0),70.8% (17.0/24.0),50.0% (7.0/14.0),37.5% (12.0/32.0),55.6% (5.0/9.0),25.0% (2.0/8.0)
4,1991-7308-k030-w136,67.6% (25.0/37.0),55.6% (20.0/36.0),55.9% (19.0/34.0),42.9% (12.0/28.0),50.0% (5.0/10.0),66.7% (2.0/3.0)

In [11]:
#Reading the csv
match_scores_csv = "tennis_scores.csv"
match_scores_df = pd.read_csv(match_scores_csv)
match_scores_df.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Finals,1,1,Nicklas Kulti,k181,nicklas-kulti,...,6,63 16 62,2,1,13,11,0,0,1991-7308-k181-s351,/en/scores/1991/7308/MS001/match-stats
1,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,1,Michael Stich,s351,michael-stich,...,2,64 76(6),2,0,13,10,1,0,1991-7308-s351-c243,/en/scores/1991/7308/MS003/match-stats
2,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,2,Nicklas Kulti,k181,nicklas-kulti,...,NaN,75 64,2,0,13,9,0,0,1991-7308-k181-l206,/en/scores/1991/7308/MS002/match-stats
3,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,1,Jim Courier,c243,jim-courier,...,Q,76(3) 63,2,0,13,9,1,0,1991-7308-c243-s367,/en/scores/1991/7308/MS007/match-stats
4,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,2,Michael Stich,s351,michael-stich,...,NaN,36 63 63,2,1,15,12,0,0,1991-7308-s351-a031,/en/scores/1991/7308/MS006/match-stats

In [12]:
#This is to create a new, more refined dataframe for easier use.
new_match_scores_df = match_scores_df[['tourney_year_id','tourney_slug', 'match_id', 'winner_name', 'loser_name', 'match_score_tiebreaks']]
new_match_scores_df.rename(columns = {'match_score_tiebreaks' : 'match_score', 'tourney_slug':'tourney_name'}, inplace=True)

#This step is to split the 'tourney_year_id' column using the delimiter of '-' so that we can extract the year solely out 
#of the original column.
new = new_match_scores_df["tourney_year_id"].str.split("-", n = 1, expand = True)

#Assigning new names to the newly extracted data from 'tourney_year_id'
new_match_scores_df["tourney_year"]= new[0]
new_match_scores_df["id"]= new[1]

#Dropping the unnecessary 'id' column that only contains the code of the tournament.
new_match_scores_df.drop(['tourney_year_id', 'id'], axis = 1, inplace= True)

new_match_scores_df.head()

C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\dsmar\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,tourney_name,match_id,winner_name,loser_name,match_score,tourney_year
0,adelaide,1991-7308-k181-s351,Nicklas Kulti,Michael Stich,63 16 62,1991
1,adelaide,1991-7308-s351-c243,Michael Stich,Jim Courier,64 76(6),1991
2,adelaide,1991-7308-k181-l206,Nicklas Kulti,Magnus Larsson,75 64,1991
3,adelaide,1991-7308-c243-s367,Jim Courier,Martin Sinner,76(3) 63,1991
4,adelaide,1991-7308-s351-a031,Michael Stich,Jimmy Arias,36 63 63,1991

In [17]:
rds_connection_string = "postgres:reggie12@localhost:5432/tennis_analysis"
tennis_engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
tennis_engine.table_names()

['tennis_statistics', 'tennis_scores']

In [19]:
statsdf.to_sql(name='tennis_statistics', con=tennis_engine, if_exists='append', index=False)

In [20]:
new_match_scores_df.to_sql(name='tennis_scores', con=tennis_engine, if_exists='append', index=False)

In [21]:
 pd.read_sql_query('select * from tennis_statistics', con=tennis_engine).head()

,match_id,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary
0,1991-7308-k181-l206,63.0% (29.0/46.0),66.7% (24.0/36.0),63.2% (12.0/19.0),39.4% (13.0/33.0),57.1% (4.0/7.0),100.0% (2.0/2.0)
1,1991-7308-k181-s351,70.5% (31.0/44.0),66.0% (31.0/47.0),57.1% (12.0/21.0),41.7% (15.0/36.0),57.1% (4.0/7.0),60.0% (3.0/5.0)
2,1991-7308-k181-s424,64.7% (11.0/17.0),48.3% (14.0/29.0),68.4% (13.0/19.0),24.0% (6.0/25.0),70.0% (7.0/10.0),66.7% (2.0/3.0)
3,1991-7308-a031-s331,63.6% (28.0/44.0),70.8% (17.0/24.0),50.0% (7.0/14.0),37.5% (12.0/32.0),55.6% (5.0/9.0),25.0% (2.0/8.0)
4,1991-7308-k030-w136,67.6% (25.0/37.0),55.6% (20.0/36.0),55.9% (19.0/34.0),42.9% (12.0/28.0),50.0% (5.0/10.0),66.7% (2.0/3.0)

In [22]:
 pd.read_sql_query('select * from tennis_scores', con=tennis_engine).head()

,match_id,tourney_year,tourney_name,winner_name,loser_name,match_score
0,1991-7308-k181-s351,1991,adelaide,Nicklas Kulti,Michael Stich,63 16 62
1,1991-7308-s351-c243,1991,adelaide,Michael Stich,Jim Courier,64 76(6)
2,1991-7308-k181-l206,1991,adelaide,Nicklas Kulti,Magnus Larsson,75 64
3,1991-7308-c243-s367,1991,adelaide,Jim Courier,Martin Sinner,76(3) 63
4,1991-7308-s351-a031,1991,adelaide,Michael Stich,Jimmy Arias,36 63 63

In [23]:
 pd.read_sql_query('select * from tennis_analysis', con=tennis_engine).head()

,tourney_year,tourney_name,winner_name,loser_name,winner_first_serve_summary,loser_first_serve_summary,winner_second_serve_summary,loser_second_serve_summary,winner_break_points_summary,loser_break_points_summary,match_score
0,1991,adelaide,Nicklas Kulti,Michael Stich,70.5% (31.0/44.0),66.0% (31.0/47.0),57.1% (12.0/21.0),41.7% (15.0/36.0),57.1% (4.0/7.0),60.0% (3.0/5.0),63 16 62
1,1991,adelaide,Nicklas Kulti,Fabrice Santoro,64.7% (11.0/17.0),48.3% (14.0/29.0),68.4% (13.0/19.0),24.0% (6.0/25.0),70.0% (7.0/10.0),66.7% (2.0/3.0),63 60
2,1991,adelaide,Nicklas Kulti,Magnus Gustafsson,74.3% (26.0/35.0),58.6% (34.0/58.0),60.5% (23.0/38.0),40.9% (9.0/22.0),41.7% (5.0/12.0),50.0% (1.0/2.0),46 61 61
3,1991,adelaide,Magnus Larsson,Slobodan Zivojinovic,76.9% (40.0/52.0),83.9% (47.0/56.0),71.4% (25.0/35.0),57.1% (20.0/35.0),nan% (0.0/0.0),nan% (0.0/0.0),76(5) 76(8)
4,1991,adelaide,Martin Sinner,Mark Woodforde,63.6% (42.0/66.0),62.0% (31.0/50.0),48.5% (16.0/33.0),53.6% (15.0/28.0),55.6% (5.0/9.0),50.0% (4.0/8.0),46 63 64